.App {
  text-align: center;
  /*background: #2980b9;*/
  color: black
}

.body {
  background: #2980b9;
}

.navbar {
  color: black;
  text-align: left;
}
 
.navbar-default {
  color: black
}

.navbar-header {
  color: black
}

.book-div {
  display: inline-block;
  width: 45%;
  height: 350px;
  overflow: scroll;
}

.book-div img {
  width: 50%;
  height: 400px;
}

.wishlist-div {
  display: inline-block;
  width: 45%;
  height: 350px;
  overflow: scroll;
}

.wishlist-div img {
  width: 50%;
  height: 400px;
}

.review-div {
  display: inline-block;
  width: 45%;
  height: 350px;
  overflow: scroll;
}

.review-div img {
  width: 50%;
  height: 400px;
}